body {
  font-family: 'Arial', sans-serif;
  background-color: #dbdbdb;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
}

table {
  width: 70%;
  max-width: 600px;
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

#needMatrixDiv {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-size: 20px; /* Adjust the font size as needed */
}
#result {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-size: 25px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  padding: 15px; /* Add padding for spacing */
  border: 1px solid #ddd; /* Add a border */
  border-radius: 5px; /* Add border radius for rounded corners */
  background-color: #fff; /* Add background color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}
